<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>PetCare API</title>
</head>
<body style="font-family: sans-serif; text-align: center; margin-top: 5rem;">
  <h1>✅ API PetCare funcionando</h1>

    <h2>API para gestionar mascotas</h2>

</body>
</html>
